<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="P/D - Admin Dashboard ">
        <meta name="author" content="P/D - Admin Dashboard ">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>P/D - Chỉnh sửa chuyến bay</title>

        <!-- Core css -->
        <%-include ../../include/css%>

        <script src="js/modernizr.min.js"></script>

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <%-include ../../partials/top-bar.ejs%>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <%-include ../../partials/left-side-bar.ejs%>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h3 class="m-t-0">Thông tin chuyến bay</h3>
                                    <p class="text-muted m-b-30 font-14">
                                        <code>Cập nhật</code> thông tin chuyến bay
                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                            <%if(typeof flight === 'object'){%>
                                                <form role="form" action="/flight/saveEditFlight" method="POST">

                                                <!-- Modal Hang Ghe -->
                                                <div class="modal fade" id="soLuongHangGhe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalCenterTitle">Thông tin hạng ghế</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <%-include ../../partials/flight-seatype-modal.ejs%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal San Bay Trung Gian -->
                                                <div class="modal fade" id="sanBayTrungGian" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalCenterTitle">Thông tin sân bay trung gian</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <%include ../../partials/flight-middle-airport-modal.ejs%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Mã chuyến bay</label>
                                                        <div class="col-10">
                                                            <input name="flightId" type="text" readonly class="form-control" placeholder="Mã chuyến bay" value="<%=flight.flightId%>" readonly required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Tên chuyến bay</label>
                                                        <div class="col-10">
                                                            <input name="flightName" type="text" class="form-control" placeholder="Tên chuyến bay" value="<%=flight.flightName%>" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label">Sân bay đi</label>
                                                            <select name="flightFrom" class="custom-select form-control" required>
                                                                <%if(typeof airports ==="object" && airports.length>0){%>
                                                                    <%for(item of airports){%>
                                                                        <%if(item.airportName !== flight.flightFrom){%>
                                                                            <option><%=item.airportName%></option>
                                                                        <%}else{%>
                                                                            <option selected><%=flight.flightFrom%></option>
                                                                        <%}%>
                                                                    <%}%>
                                                                <%}%>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="col-form-label">Sân bay đến</label>
                                                            <select class="custom-select form-control" name="flightDestination" required>
                                                                <%if(typeof airports ==="object" && airports.length>0){%>
                                                                    <%for(item of airports){%>
                                                                        <%if(item.airportName !== flight.flightDestination){%>
                                                                            <option><%=item.airportName%></option>
                                                                        <%}else{%>
                                                                            <option selected="selected"><%=flight.flightDestination%></option>
                                                                        <%}%>
                                                                    <%}%>
                                                                <%}%>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Khởi hành</label>
                                                        <div class="col-5">
                                                            <input class="form-control" type="time" name="flightDepartTime" value="<%=flight.flightDepartTime%>" required>
                                                        </div>
                                                        <div class="col-5">
                                                            <input class="form-control" type="date" name="flightDate" value="<%=flight.flightDate%>" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Thời gian bay</label>
                                                        <div class="col-md-10">
                                                            <input class="form-control" type="time" name="flightTime" value="<%=flight.flightTime%>" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">

                                                        <label class="col-2 col-form-label">Số lượng hạng ghế</label>
                                                        <div class="col-4">
                                                            <!-- Button trigger modal -->
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#soLuongHangGhe">
                                                            Số lượng hạng ghế
                                                            </button>
                                                        </div>

                                                        <label class="col-2 col-form-label">Sân bay trung gian</label>
                                                        <div class="col-4">
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sanBayTrungGian">
                                                            Số lượng hạng ghế
                                                            </button>
                                                        </div>

                                                    </div>


                                                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                                                    <a href="/flight" class="btn btn-danger">Hủy</a>

                                                </form>
                                            <%}%>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->

                                </div> <!-- end card-box -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

            <%-include ../../partials/bottom-bar.ejs%>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->



    <!-- Core js -->
    <%-include ../../include/js.ejs%>

    </body>

</html>