<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="P/D - Admin Dashboard ">
        <meta name="author" content="P/D - Admin Dashboard ">

        <link rel="shortcut icon" href="/images/favicon.ico">

        <title>P/D - Admin Dashboard </title>

        <!-- Core css -->
        <%-include ../../include/css%>

        <script src="/js/modernizr.min.js"></script>

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <%-include ../../partials/top-bar.ejs%>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <%-include ../../partials/left-side-bar.ejs%>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h3 class="m-t-0">Thông tin chuyến bay</h3>
                                    <p class="text-muted m-b-30 font-14">
                                        <code>Thêm mới</code> thông tin các chuyến bay
                                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#sanBayTrungGianToiDa">
                                        Sân bay trung gian tối đa
                                        </button>
                                    </p>
                                    <form action="/flight/addFlight" name="formChuyenBay" method="POST" onsubmit="return validateForm()">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="p-20">
                                                    <form role="form">

                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Mã chuyến bay</label>
                                                            <div class="col-10">
                                                                <input name="flightId" type="text" class="form-control" placeholder="Mã chuyến bay" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Tên chuyến bay</label>
                                                            <div class="col-10">
                                                                <input name="flightName" type="text" class="form-control" placeholder="Tên chuyến bay" required>
                                                            </div>
                                                        </div>


                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label">Sân bay đi</label>
                                                                <select name="flightFrom" class="custom-select form-control" required>
                                                                    <option>Chọn sân bay đi</option>
                                                                    <%if(typeof airports ==="object" && airports.length>0){%>
                                                                        <%for(item of airports){%>
                                                                            <option><%=item.airportName%></option>
                                                                        <%}%>
                                                                    <%}%>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="col-form-label">Sân bay đến</label>
                                                                <select name="flightDestination" class="custom-select form-control" required>
                                                                    <option>Chọn sân bay đến</option>
                                                                    <%if(typeof airports ==="object" && airports.length>0){%>
                                                                        <%for(item of airports){%>
                                                                            <option><%=item.airportName%></option>
                                                                        <%}%>
                                                                    <%}%>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Khởi hành</label>
                                                            <div class="col-5">
                                                                <input name="flightDepartTime" class="form-control" type="time" min="00:01" max="23:59" required>
                                                            </div>
                                                            <div class="col-5">
                                                                <input class="form-control" type="date" name="flightDate" data-date-format="dd mm yyyy" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-2 col-form-label">Thời gian bay</label>
                                                            <div class="col-md-10">
                                                                <input name="flightTime" class="form-control" type="Time" required>
                                                            </div>
                                                        </div>


                                                        <div class="form-group row">

                                                            <label class="col-2 col-form-label">Số lượng ghế</label>
                                                            <div class="col-4">
                                                                <!-- Button trigger modal -->
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#soLuongHangGhe">
                                                                Số lượng hạng ghế
                                                                </button>
                                                            </div>

                                                            <label class="col-2 col-form-label">Sân bay trung gian</label>
                                                            <div class="col-4">
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sanBayTrungGian">
                                                                Sân bay trung gian
                                                                </button>
                                                            </div>

                                                        </div>


                                                        <button type="submit" id="btn-submit" class="btn btn-primary">Thêm mới</button>
                                                        <!-- Modal Hang Ghe -->
                                                        <div class="modal fade" id="soLuongHangGhe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalCenterTitle">Thông tin hạng ghế</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <%-include ../../partials/flight-seatype-modal.ejs%>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Modal San Bay Trung Gian -->
                                                            <div class="modal fade" id="sanBayTrungGian" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalCenterTitle">Thông tin sân bay trung gian</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <!--Modal item-->
                                                                            <%-include ../../partials/flight-middle-airport-modal.ejs%>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <!-- end row -->

                                </div> <!-- end card-box -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <h4 class="m-t-0 header-title">Chuyến bay</h4>
                                    <p class="text-muted font-14 m-b-30">
                                        Danh sách chuyến bay hiện có
                                    </p>

                                    <table id="datatable" class="table table-bordered text-center">
                                        <thead>
                                            <tr>
                                                <th>Mã chuyến bay</th>
                                                <th>Tên chuyến bay</th>
                                                <th>Sân bay đi</th>
                                                <th>Sân bay đến</th>
                                                <th>Ngày khởi hành</th>
                                                <th>Giờ khởi hành</th>
                                                <th>Thời gian bay</th>
                                                <th>Số lượng ghế</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            <%include ../../partials/flight-infor-item%>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

            <%-include ../../partials/bottom-bar.ejs%>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->


    <!-- Modal Thông tin hạng ghế-->
    <div class="modal fade" id="modalSeatInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thông tin hạng ghế</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%-include ../../partials/flight-seatype-modal.ejs%>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Validate-->
    <div class="modal fade" id="modalValidate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
            <i class="fas fa-exclamation-triangle text-danger" style="font-size: 64px; padding-bottom: 1rem"></i>
                <p>Mã chuyến hoặc tên chuyến bay không hợp lệ. Vui lòng kiểm tra lại!</p>
            </div>
        </div>
        </div>
    </div>


    <!-- Modal Sân bay trung gian tối đa-->
    <div class="modal fade" id="sanBayTrungGianToiDa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> 
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thông tin sân bay trung gian tối đa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <form action="/flight/editMaxMiddleAirport" method="POST">
                    <div class="form-group col-12">
                        <label class="col-form-label">Số sân bay trung gian tối đa</label>
                        <input name="maxMiddleAirport" type="number" class="form-control" value="<%=maxMiddleAirport%>%>" min="1" max="9999">
                    </div>
                    <div class="form-group col-12 ">
                        <button type="submit" class="btn btn-primary float-right">Lưu</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    <%-include ../../partials/change-password.ejs%>
    <%-include ../../partials/notifycation.ejs%>

    <!-- Core js -->
    <%-include ../../include/js.ejs%>

    <script type="text/javascript">
        $(document).ready(function () {

            const reg = new RegExp('^[-a-zA-Z0-9-()]+(\s+[-a-zA-Z0-9-()]+)*$');
            // Default Datatable
            $('#datatable').DataTable();
            $("#btn-submit").on('click', function (e) {
                if(
                    !reg.test($("input[name=flightId]").val()) ||
                    !reg.test($("input[name=flightName]").val())
                  )
                {
                    $('#modalValidate').modal('show');
                    e.preventDefault();
                }
            })
            $("#seatInfo").on('click', function () {
                $('#modalSeatInfo').modal('show');
            })
        });
       
    </script>

    </body>

</html>