<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="P/D - Admin Dashboard ">
        <meta name="author" content="P/D - Admin Dashboard ">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>P/D - Admin Dashboard </title>

        <!-- Core css -->
        <%-include ../../include/css%>

        <script src="js/modernizr.min.js"></script>

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <%-include ../../partials/top-bar.ejs%>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <%-include ../../partials/left-side-bar.ejs%>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <div class="row">
                                        <div class="col-4">
                                        <form action="/report/month" method="POST" role="form">
                                            <div class="form-group">
                                                <label for="">Tháng</label>
                                                <select class="form-control" name="selectedMonth">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary" style="margin-top: 2rem; display:inline-block;">Hiển thị</button>
                                        </div>
                                        </form>
                                        <form action="/report/month/download" method="POST" style="display:inline-block;">
                                            <%if(typeof selectedMonth === 'string'){%>
                                                <input type="hidden" name="downloadReportMonth"value="<%=selectedMonth%>">
                                            <%}%>
                                                <button type="submit" class="btn btn-success" style="margin-top: 2rem">Tải về báo cáo</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row-->

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <h3 class="m-t-0">
                                        Thống kê doanh thu tháng <%if(typeof selectedMonth === 'string'){%><%=selectedMonth%><%}%>



                                    </h3>

                                    <table id="datatable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Chuyến bay</th>
                                            <th>Số vé bán ra</th>
                                            <th>Tổng số ghế</th>
                                            <th>Doanh thu</th>
                                            <th>Tỉ lệ</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <%-include ../../partials/month-report-infor.ejs%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

            <%-include ../../partials/bottom-bar.ejs%>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->
    <%-include ../../partials/notifycation.ejs%>

    <!-- Core js -->
    <%-include ../../include/js.ejs%>

    <script type="text/javascript">
        $(document).ready(function () {

            // Default Datatable
            $('#datatable').DataTable();
        });
    </script>

    </body>

</html>