<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/form-elements.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:18:57 GMT -->
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="P/D - Admin Dashboard ">
        <meta name="author" content="P/D - Admin Dashboard ">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>P/D - Admin Dashboard </title>

        <%-include ../include/css.ejs%>
        <script src="js/modernizr.min.js"></script>

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <%-include ../partials/top-bar.ejs%>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <%-include ../partials/left-side-bar.ejs%>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <h4 class="m-t-0 header-title">Bảng khởi hành</h4>
                                    <p class="text-muted font-14 m-b-30">
                                        Danh sách Chuyến bay hiện có
                                    </p>

                                    <table id="datatable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên chuyến bay</th>
                                            <th>Sân bay đi</th>
                                            <th>Sân bay đến</th>
                                            <th>Khởi hành</th>
                                            <th>Hạ cánh</th>
                                            <th>Thời gian bay</th>
                                            <th>SL ghế hạng 1</th>
                                            <th>Chức năng</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>Hanoi</td>
                                            <td>2011/03/21</td>
                                            <td>2011/03/21</td>
                                            <td>05</td>
                                            <td>12</td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-primary btn-xm">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

            <%-include ../partials/bottom-bar.ejs%>


            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <%-include ../partials/right-side-bar.ejs%>
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->

    <%-include ../partials/notifycation.ejs%>
    <%-include ../include/js.ejs%>

    </body>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/form-elements.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:18:57 GMT -->
</html>