<%if(typeof flights === 'object' && flights.length>0){%>
    <%for(item of flights){%>
<tr>
    <td><%=item.flightId%></td>
    <td><%=item.flightName%></td>
    <td><%=item.from%></td>
    <td><%=item.destination%></td>
    <td><%=item.flightDate%></td>
    <td><%=item.flightTime%></td>
    <td>
    <%=item.totalSeat%>
    </td>
    <td class="text-center">
        <button type="button" class="btn btn-primary btn-xm">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-xm">
            <i class="fa fa-trash"></i>
        </button>
    </td>
</tr>
<%}%>
<%}%>