<%if(typeof flights === 'object' && flights.length>0){%>
    <%for(item of flights){%>
<tr>
    <td><%=item.flightId%></td>
    <td><%=item.flightName%></td>
    <td><%=item.flightFrom%></td>
    <td><%=item.flightDestination%></td>
    <td><%=item.flightDate%></td>
    <td><%=item.flightDepartTime%></td>
    <td><%=item.flightTime%></td>
    <td>
    <%=item.totalSeat%>
    </td>
    <td>
    <button type="button" class="btn btn-danger btn-xm" style="display:inline-block;">
        <i class="fa fa-trash"></i>
    </button>
    </td>
    <td class="text-center">
        <form action="/flight/editFlight" method="POST" style="display:inline-block;">
            <input type="hidden" name="flightObjectId" value="<%=item._id%>">
            <button type="submit" class="btn btn-primary btn-xm">
            <i class="fa fa-edit"></i>
            </button>
        </form>
        <form action="/flight/deleteFlight" method="POST" style="display:inline-block;">
            <input type="hidden" name="flightObjectId" value="<%=item._id%>">
            <button type="submit" class="btn btn-danger btn-xm">
                <i class="fa fa-trash"></i>
            </button>
        </form>
    </td>
</tr>
<%}%>
<%}%>