<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="P/D - Admin Dashboard ">
        <meta name="author" content="P/D - Admin Dashboard ">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>P/D - Quản lí sân bay </title>

        <!-- Core css -->
        <%-include ../../include/css%>

        <script src="js/modernizr.min.js"></script>

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <%-include ../../partials/top-bar.ejs%>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <%-include ../../partials/left-side-bar.ejs%>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->


            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">

                            <div class="col-12">

                                <div class="card-box">

                                    <h3 class="m-t-0">
                                        Thông tin sân bay

                                    </h3>
                                    <p class="text-muted m-b-30 font-14">
                                        <code>Thêm mới</code> thông tin các sân bay
                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                                <form action = "/airport/add" method="POST">
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Mã sân bay</label>
                                                        <div class="col-10">
                                                            <input name = "airportCode" type="text" class="form-control" placeholder="Mã sân bay"
                                                            value="<%if(typeof inputData === "object"){%><%-inputData.airportCode%><%}%>" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label  class="col-2 col-form-label">Tên sân bay</label>
                                                        <div class="col-10">
                                                            <input name="airportName" type="text" class="form-control" placeholder="Tên sân bay"
                                                            value="<%if(typeof inputData === "object"){%><%-inputData.airportName%><%}%>" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Mã địa điểm</label>
                                                        <div class="col-10">
                                                            <input name="locationCode" type="text" class="form-control" placeholder="Mã địa điểm"
                                                            value="<%if(typeof inputData === "object"){%><%-inputData.locationCode%><%}%>" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Địa điểm</label>
                                                        <div class="col-10">
                                                            <input name="locationName" type="text" class="form-control" placeholder="Địa điểm"
                                                            value="<%if(typeof inputData === "object"){%><%-inputData.locationName%><%}%>" required>
                                                        </div>
                                                    </div>

                                                    <button id="btn-submit" type="submit" class="btn btn-primary">Thêm mới</button>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->

                                </div>
                                <!-- end card-box -->
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <h4 class="m-t-0 header-title">Sân bay</h4>
                                    <p class="text-muted font-14 m-b-30">
                                        Danh sách sân bay hiện có
                                    </p>

                                    <table id="datatable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Mã sân bay</th>
                                            <th>Tên sân bay</th>
                                            <th>Mã địa điểm</th>
                                            <th>Địa điểm</th>
                                            <th>Chức năng</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <!--airport item-->
                                        <%if(typeof airports === "object" && airports.length>0){%>
                                            <%-include ../../partials/airport-infor-item.ejs%>
                                        <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <%-include ../../partials/bottom-bar.ejs%>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

    <!-- Modal Vallidate -->
    <div class="modal fade" id="modeValidate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
            <i class="fas fa-exclamation-triangle text-danger" style="font-size: 64px; padding-bottom: 1rem"></i>
                <p>Mã sân bay hoặc mã địa điểm không hợp lệ. Vui lòng kiểm tra lại!</p>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal Hang Ghe -->

    <%-include ../../partials/change-password.ejs%>
    <%-include ../../partials/notifycation.ejs%>
    <!-- Core js -->
    <%-include ../../include/js.ejs%>

    <script type="text/javascript">
        $(document).ready(function () {

            const reg = new RegExp('^[-a-zA-Z0-9-()]+(\s+[-a-zA-Z0-9-()]+)*$');

            // Default Datatable
            $('#datatable').DataTable();

             $("#btn-submit").on('click', function (e) {
                var airportName = $("input[name=airportName]").val().trim()
                var locationName = $("input[name=locationName]").val().trim()
                if(
                    !reg.test($("input[name=airportCode]").val()) ||
                    !reg.test($("input[name=locationCode]").val())
                  )
                {
                    $('#modeValidate').modal('show')
                    e.preventDefault(); 
                }
                strValidate(airportName);
                strValidate(locationName);
            })

            //Validate
            function strValidate(str) {
                var result ='';
                var strTemp = str.split(' ').filter(strChild => {
                    if(strChild !== '')
                        return strChild;
                })
                strTemp.forEach(s => {
                    result+=' ';
                    result+=s;
                });
                result.trim();
                return result;
            }
        });
    </script>

    </body>

</html>