<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="P/D - Admin Dashboard ">
        <meta name="author" content="P/D - Admin Dashboard ">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>P/D - Admin Dashboard </title>

        <!-- Core css -->
        <%-include ../../include/css%>

        <script src="js/modernizr.min.js"></script>

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <%-include ../../partials/top-bar.ejs%>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <%-include ../../partials/left-side-bar.ejs%>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h3 class="m-t-0">Thông tin sân bay</h3>
                                    <p class="text-muted m-b-30 font-14">
                                        <code>Thêm mới</code> thông tin các sân bay
                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                                <form action = "/airport/add" method="POST">
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Mã sân bay</label>
                                                        <div class="col-10">
                                                            <input name = "airportCode" type="text" class="form-control" placeholder="Mã sân bay"
                                                            value="<%if(typeof inputData === "object"){%><%-inputData.airportCode%><%}%>">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label  class="col-2 col-form-label">Tên sân bay</label>
                                                        <div class="col-10">
                                                            <input name="airportName" type="text" class="form-control" placeholder="Tên sân bay"
                                                            value="<%if(typeof inputData === "object"){%><%-inputData.airportName%><%}%>">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Mã địa điểm</label>
                                                        <div class="col-10">
                                                            <input name="locationCode" type="text" class="form-control" placeholder="Mã địa điểm"
                                                            value="<%if(typeof inputData === "object"){%><%-inputData.locationCode%><%}%>">
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Địa điểm</label>
                                                        <div class="col-10">
                                                            <input name="locationName" type="text" class="form-control" placeholder="Địa điểm"
                                                            value="<%if(typeof inputData === "object"){%><%-inputData.locationName%><%}%>">
                                                        </div>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Lưu</button>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->
                                </div> <!-- end card-box -->
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <h4 class="m-t-0 header-title">Sân bay</h4>
                                    <p class="text-muted font-14 m-b-30">
                                        Danh sách sân bay hiện có
                                    </p>

                                    <table id="datatable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Mã sân bay</th>
                                            <th>Tên sân bay</th>
                                            <th>Mã địa điểm</th>
                                            <th>Địa điểm</th>
                                            <th>Chức năng</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <!--airport item-->
                                        <%if(typeof airports === "object" && airports.length>0){%>
                                            <%-include ../../partials/airport-infor-item.ejs%>
                                        <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

            <%-include ../../partials/bottom-bar.ejs%>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->
    <%if(messages.notify){%>
        <%-include ../../partials/notifycation.ejs%>
    <%}%>
    <!-- Core js -->
    <%-include ../../include/js.ejs%>

    <script type="text/javascript">
        $(document).ready(function () {

            // Default Datatable
            $('#datatable').DataTable();
        });
    </script>

    </body>

</html>