<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="P/D - Admin Dashboard ">
        <meta name="author" content="P/D - Admin Dashboard ">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>P/D - Admin Dashboard </title>

        <!-- Core css -->
        <%-include ../../include/css%>

        <script src="js/modernizr.min.js"></script>

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <%-include ../../partials/top-bar.ejs%>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <%-include ../../partials/left-side-bar.ejs%>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->


            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">

                            <div class="col-12">

                                <div class="card-box">
                                    <p class="text-muted m-b-30 font-14">
                                        <code>Cập nhật</code> thông tin các sân bay
                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                                <form action="/airport/saveEdit" method="POST">
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Mã sân bay</label>
                                                        <div class="col-10">
                                                            <input name = "airportCode" type="text" class="form-control" placeholder="Mã sân bay"
                                                            value="<%if(typeof airport === "object"){%><%-airport.airportCode%><%}%>" readonly>
                                                        </div>

                                                    </div>

                                                    <div class="form-group row">
                                                        <label  class="col-2 col-form-label">Tên sân bay</label>
                                                        <div class="col-10">
                                                            <input name="airportName" type="text" class="form-control" placeholder="Tên sân bay"
                                                            value="<%if(typeof airport === "object"){%><%-airport.airportName%><%}%>" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Mã địa điểm</label>
                                                        <div class="col-10">
                                                            <input name="locationCode" type="text" class="form-control" placeholder="Mã địa điểm"
                                                            value="<%if(typeof airport === "object"){%><%-airport.locationCode%><%}%>" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Địa điểm</label>
                                                        <div class="col-10">
                                                            <input name="locationName" type="text" class="form-control" placeholder="Địa điểm"
                                                            value="<%if(typeof airport === "object"){%><%-airport.locationName%><%}%>" required>
                                                        </div>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                                                    <a href="/airport" class="btn btn-danger">Hủy</a>

                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end row -->

                                </div>
                                <!-- end card-box -->
                            </div>
                            <!-- end col -->

                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <%-include ../../partials/bottom-bar.ejs%>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

    <!-- Modal Hang Ghe -->
    <div class="modal fade" id="sanBayTrungGian" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thông tin sân bay trung gian tối đa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <label class="col-form-label">Số sân bay trung gian tối đa</label>
                        <input type="text" class="form-control" placeholder="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
        <%-include ../../partials/notifycation.ejs%>
    <!-- Core js -->
    <%-include ../../include/js.ejs%>

    </body>

</html>